version: "3.9"

services:
  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: cinema
      POSTGRES_USER: cinema
      POSTGRES_PASSWORD: cinema

  web:
    build: .
    env_file:
      - .env
    command: >
      sh -c "
      python manage.py wait_for_db &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn cinema_service.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - media:/app/media
      - static:/app/static
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
  media:
  static:
